.nameCard {
  /* background-color: #cc0000; */
  width: 160px;
  min-width: 160px; 
  height: 200px;
  margin: 10px;
  border-style: solid;
  text-align: center;
  border-width: 2;
  border-radius: 12px;
  border-color: rgb(226, 226, 226)
}

.buttonCard{
  align-items: center;
  background-color: black;
  border-radius: 8px;
  border-style: none;
  width: 140px;
  height: 32px;
  font-size: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.favoriteCard {
  align-items: center;
  background-color: #ff0000;
  border-radius: 8px;
  border-style: none;
  width: 140px;
  height: 32px;
  font-size: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.pokemonNameContainer { 
  padding: 20px;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
}

.pokemonName {
  padding-top: 50px;
}

.individualCard {
  width: 200px;
  height: fit-content;  
  border: black 1px solid; 
  border-radius: 5px;
}

.individualCardText {
  margin-left: 20px;
}

body {
  background-color: pale-grey;
}

button:hover {
  transform: translateY(-5px);
  opacity: 90%; 
  cursor: pointer
}

.mainTitle {
  text-align: center;
}

.homeButton {
  align-items: center;
  background-color: #ff0000;
  border-radius: 8px;
  border-style: none;
  width: 170px;
  height: 32px;
  font-size: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

