.nameCard {
  /* background-color: #cc0000; */
  width: 160px;
  min-width: 160px; 
  height: 200px;
  margin: 10px;
  border-style: solid;
  text-align: center;
  border-width: 2;
  border-radius: 12px;
  border-color: rgb(226, 226, 226)
}

.buttonCard{
  align-items: center;
  background-color: black;
  border-radius: 8px;
  border-style: none;
  width: 140px;
  height: 32px;
  font-size: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.pokemonNameContainer { 
  padding: 20px;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
}

.pokemonName {
  padding-top: 50px;
}


body {
  background-color: pale-grey;
}

.mainTitle {
  text-align: center;
}

